.idea/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
Podfile
Podfile.lock
Pods/
README.md~
TODO.org~
bin/
cmake_install.cmake
gtest-1.7.0/CMakeScripts/
gtest-1.7.0/build-aux/config.h
gtest-1.7.0/build-aux/stamp-h1
gtest-1.7.0/config.log
gtest-1.7.0/config.status
gtest-1.7.0/fused-src/gtest/.deps/
gtest-1.7.0/gtest.xcodeproj/
gtest-1.7.0/lib/
gtest-1.7.0/libtool
gtest-1.7.0/samples/.deps/
gtest-1.7.0/samples/.dirstamp
gtest-1.7.0/scripts/gtest-config
gtest-1.7.0/src/.deps/
gtest-1.7.0/src/.dirstamp
gtest-1.7.0/test/.deps/
repl/CMakeScripts/
repl/repl
repl/swallow_repl.xcodeproj/
swallow.xcodeproj/
swallow/Podfile
swallow/gen_errors
swallow/tests/helloworld
swallow/tests/helloworld.swift
swallow/tests/stdlib.swift
swallow/tests/test.sil
swallow/tests/test.swift
swallow/tests/tests.xcodeproj/
*.user
*.cbp
.DS_Store
