CMakeCache.txt
CMakeFiles/
Makefile
TestTokenizer
cmake_install.cmake
swift
.ycm_extra_conf.pyc
CMakeScripts/
swift.build/
swift.xcodeproj/
CTestTestfile.cmake
TestParser
TestSemantics
Testing/
.idea/
